.App {
  font-family: sans-serif;
  text-align: center;
   background-color: black;
   height: 100vh;
   color: white;
 
}

.animes-list {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(200px, 1fr)

  );
  list-style: none;
  grid-gap: 1.5rem;
   background-color: black;
}

.animes-list img {
  max-width: 100%;
   background-color: black;
}
